body[page="edit-penta-drill-team"].page-edit-penta-drill-team
  > #contains_all
  > section
  > #edit-team-page.penta-drill {
  .pdsim-level {
    pointer-events: none;
    position: absolute;
    font-size: 11px;
    line-height: 1;
    background-color: #fff;
    padding: 2px;

    &.capped {
      color: #c33;
    }

    &.uncapped {
      color: #33c;
    }
  }

  .pdsim-grade {
    pointer-events: none;
    position: absolute;

    &.new_girl_tooltip {
      background: none;

      .girl_tooltip_grade {
        margin: 0;
        line-height: 0;

        & > g {
          width: 8px;
          height: 8px;
          margin: 0;
        }
      }
    }

    &.bar-section {
      padding: 0;
      width: max-content;
      height: min-content;

      & > .top-text {
        & > .girl_quests {
          position: static;
          z-index: 0;
          line-height: 0;

          & > g {
            width: 8px;
            height: 10px;
            background-size: 10px;
          }
        }
      }
    }
  }

  .pdsim-class {
    pointer-events: none;
    position: absolute;

    &::before {
      display: block;
      position: absolute;
      background-position: center;
      background-color: #fff;
    }
  }

  .pdsim-role {
    pointer-events: none;
    position: absolute;
    background-position: center;
    background-color: #fff;
  }

  /* Hexagon */
  & > .change-team-panel.player-panel {
    .icon.hexagon-girl-element {
      display: none;
    }

    .pdsim-level {
      top: 5px;
      border-radius: 5px;
    }

    .pdsim-grade {
      &.new_girl_tooltip {
        bottom: 6px;
      }
      &.bar-section {
        bottom: 4px;
      }
    }

    .pdsim-class {
      left: 0;
      bottom: 12px;

      &::before {
        left: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background-size: 16px;
        border-radius: 10px;
      }
    }

    .pdsim-role {
      bottom: 12px;
      right: 1px;
      width: 20px;
      height: 20px;
      background-size: 16px;
      border-radius: 10px;
    }
  }

  /* Grid */
  & > .change-team-panel.harem-panel > .panel-body {
    border-radius: 5px;

    & > .harem-panel-girls {
      grid-row-gap: 0;

      & > .harem-girl-container {
        border-radius: 5px;
        justify-content: start;
        padding: 0 2px;

        &[team_slot]:not(.part-of-another-team) {
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
            text-shadow:
              1px 1px 0 #000000,
              -1px 1px 0 #000000,
              -1px -1px 0 #000000,
              1px -1px 0 #000000;
            border-radius: 5px;
            border: 0.125rem solid #feb825;
            background: linear-gradient(to bottom, #ffa23e 0%, #ff545c 100%);
            z-index: 3;
          }

          &[team_slot="1"]::after {
            content: "1";
          }
          &[team_slot="2"]::after {
            content: "2";
          }
          &[team_slot="3"]::after {
            content: "3";
          }
          &[team_slot="4"]::after {
            content: "4";
          }
          &[team_slot="5"]::after {
            content: "5";
          }
        }

        &:not(.selected)[team_slot] .grey-overlay {
          border-radius: 3px;
          opacity: 0.6;
        }

        .girl_img {
          border-radius: 5px;
        }

        & > .girl-element,
        & > .girl-power-icon {
          display: none;
        }

        .pdsim-level {
          top: 0;
          right: 2px;
          border-radius: 0 5px 0 5px;
        }

        .pdsim-grade.new_girl_tooltip,
        .pdsim-grade.bar-section {
          bottom: 0;
        }

        .pdsim-class {
          left: 2px;
          bottom: 12px;

          &::before {
            left: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            background-size: 14px;
            border-radius: 0 5px 0 5px;
          }
        }

        .pdsim-role {
          right: 2px;
          bottom: 12px;
          width: 16px;
          height: 16px;
          background-size: 14px;
          border-radius: 5px 0 5px 0;
        }

        .pdsim-filter-value {
          pointer-events: none;
          position: absolute;
          bottom: 0;
          font-size: 9px;
          line-height: 10px;
          white-space: nowrap;

          .girl-power-icon {
            display: inline-block;
            margin: 0;
            width: 8px;
            height: 10px;
            background-size: 10px;
          }

          [carac]::before {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}

/* Overridden by compact-grid.css */
/* body[page="edit-penta-drill-team"].page-edit-penta-drill-team */
body.page-edit-penta-drill-team
  > #contains_all
  > section
  > #edit-team-page.penta-drill
  > .change-team-panel.harem-panel
  > .panel-body
  > .harem-panel-girls
  > .harem-girl-container {
  height: 78px;
}
